@import 'tailwindcss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-archivo), sans-serif;
}

/*@theme inline {*/
/*    --primary-color: #1E9E6A;*/
/*    --secondary-color: #F3FFF2;*/
/*    --dark-color-10: #1A202C;*/
/*    --dark-color-20: #656769;*/
/*    --dark-color-30: #E8E8E8;*/
/*    --dark-color-40: #F7FAFC;*/
/*    --color-white: #FFFFFF;*/
/*}*/